---
name: "Release"

on:
  release:
    types:
      - "published"

jobs:
  push:
    if: "!github.event.release.draft"
    runs-on: "ubuntu-24.04"
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    env:
      GHCR_IMAGE: "ghcr.io/${{ github.repository }}"
    permissions:
      contents: "read"
      packages: "write"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"

      - name: "Set up QEMU"
        uses: "docker/setup-qemu-action@v3"

      - name: "Set up Docker Buildx"
        uses: "docker/setup-buildx-action@v3"

      - name: "Login to GHCR"
        uses: "docker/login-action@v3"
        with:
          registry: "ghcr.io"
          username: "${{ github.actor }}"
          password: "${{ secrets.GITHUB_TOKEN }}"

      - name: "Docker Metadata"
        id: "dockermeta"
        uses: "docker/metadata-action@v5"
        with:
          images: "${{ env.GHCR_IMAGE }}"
          flavor: |
            latest=${{ ! github.event.release.prerelease && matrix.python-version == 3.13 }}
          tags: |
            type=semver,pattern={{version}}-py${{ matrix.python-version }}
            type=semver,pattern={{version}},enable=${{ matrix.python-version == 3.13 }}
            type=semver,pattern={{major}}.{{minor}}-py${{ matrix.python-version }},enable=${{ ! github.event.release.prerelease }}
            type=semver,pattern={{major}}.{{minor}},enable=${{ ! github.event.release.prerelease && matrix.python-version == 3.13 }}
            type=raw,value=latest-py${{ matrix.python-version }},enable=${{ ! github.event.release.prerelease }}
            type=raw,value=stable,enable=${{ ! github.event.release.prerelease && matrix.python-version == 3.13 }}
            type=raw,value=stable-py${{ matrix.python-version }},enable=${{ ! github.event.release.prerelease }}
          labels: |
            org.opencontainers.image.title=Nautobot

      - name: "Build and Push"
        uses: "docker/build-push-action@v6"
        with:
          push: true
          platforms: "linux/amd64,linux/arm64"
          tags: "${{ steps.dockermeta.outputs.tags }}"
          labels: "${{ steps.dockermeta.outputs.labels }}"
          cache-from: "type=gha,scope=nautobot-${{ matrix.python-version }}"
          cache-to: "type=gha,mode=max,scope=nautobot-${{ matrix.python-version }}"
          context: "."
          build-args: |
            PYTHON_VER=${{ matrix.python-version }}
            NAUTOBOT_VERSION=${{ github.event.release.tag_name }}

      - name: "Docker Dev Metadata"
        id: "dockerdevmeta"
        uses: "docker/metadata-action@v5"
        with:
          images: "${{ env.GHCR_IMAGE }}-dev"
          flavor: |
            latest=${{ ! github.event.release.prerelease && matrix.python-version == 3.13 }}
          tags: |
            type=semver,pattern={{version}}-py${{ matrix.python-version }}
            type=semver,pattern={{version}},enable=${{ matrix.python-version == 3.13 }}
            type=semver,pattern={{major}}.{{minor}}-py${{ matrix.python-version }},enable=${{ ! github.event.release.prerelease }}
            type=semver,pattern={{major}}.{{minor}},enable=${{ ! github.event.release.prerelease && matrix.python-version == 3.13 }}
            type=raw,value=latest-py${{ matrix.python-version }},enable=${{ ! github.event.release.prerelease }}
            type=raw,value=stable,enable=${{ ! github.event.release.prerelease && matrix.python-version == 3.13 }}
            type=raw,value=stable-py${{ matrix.python-version }},enable=${{ ! github.event.release.prerelease }}
          labels: |
            org.opencontainers.image.title=Nautobot

      - name: "Build and Push Dev"
        uses: "docker/build-push-action@v6"
        with:
          push: true
          platforms: "linux/amd64,linux/arm64"
          tags: "${{ steps.dockerdevmeta.outputs.tags }}"
          labels: "${{ steps.dockerdevmeta.outputs.labels }}"
          cache-from: "type=gha,scope=nautobot-dev-${{ matrix.python-version }}"
          cache-to: "type=gha,mode=max,scope=nautobot-dev-${{ matrix.python-version }}"
          context: "."
          build-args: |
            PYTHON_VER=${{ matrix.python-version }}
            NAUTOBOT_VERSION=${{ github.event.release.tag_name }}
